/* ========== GENERAL =========== */
*{
    background-color: black;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p,
a{
    font-family: Helvetica, sans-serif;
    color: seashell;
    text-align: center;
}

h2{
    font-size: 22px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 16px;
}

li{
    font-size: 18px;
}

figcaption{
    font-family: Helvetica, sans-serif;
    color: seashell;
    font-size: 18px;
    text-align: center;
}

/* ========== NAVIGATION ==========*/

div.nav{
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.logo{
    height: 50px;
    position: relative;
    left: 10px;

}

ul{
    width: 300px;
    display: inline-flex;
    position: absolute;
    right: 10px;
    justify-content: space-between;

}    

li{
    display: inline-block;
}

/* ========== HERO ========== */

div.hero{
    max-width: 1200px;
    height: 700px;
    background-image: URL(../image/background.jpg);
    margin: auto;
    display: flex;
}

div.hero-text{
    width: 100%;
    height:80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ========== TEA OF THE MONTH ========== */

div.month{
    width: 1000px;
    border: 1px solid seashell;
    margin: 50px auto;
}

div.month-text{
    width: 1000px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.month-pic{
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 
}

#myrtle{
    margin-left: 175px;
}

#bedford{
    margin-right: 175px;
}

figure img{
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}


/* ========== LOCATIONS ========== */

div.location{
    width: 1200px;
    height: 500px;
    background-image: url(../image/location.jpg);
    margin: auto;
    display: flex;
    flex-direction: column;
}

div.location-title{
    width: 100%;
    position: relative;
    top: 85px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

div.location-title h2{
    background-color: transparent;
}

div.location-text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

.downtown,
.bayside,
.oakdale {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
    border: 1px solid seashell; 
}

/* ========== CONTACT ========== */

div.contact{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* ========== FOOTER ========== */

div.footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
}